/* Footer.css */

.footer {
  position: relative;
  background-color: #f3f3f3; 
  padding: 40px 0;
  font-family: 'Arial', sans-serif; 
}
.footer::before,
.footer::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px; 
}

.footer::before {
  top: 0;
  background-color: #d1a782; 
}

.footer::after {
  top: 5px; 
  background-color: #eabb92; 
}

.footer-column {
  margin-bottom: 20px;
}

.footer-column h5 {
  color: #3c3a3a; 
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li a {
  color: #666; 
  text-decoration: none;
  font-size: 14px;
  line-height: 2.5; 
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #000; 
}


@media (max-width: 767px) {
  .footer-column {
    margin-bottom: 30px;
  }
}
