/* FurnitureConstructor.css */
.furniture-constructor {
    /* Padding and margin adjustments for smaller screens */
    padding: 15px;
    margin-top: 20px;
}

.constructor-layout {
    display: flex;
    flex-direction: column;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensures no additional space below the image */
}

.settings {
    background-color: #f8f9fa; /* Light grey background for the settings panel */
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px; /* Adds space between the image and the settings on mobile view */
}

.dimension-sliders, .material-selector {
    margin-bottom: 20px;
}

.slider label, .material-selector label {
    display: block;
    font-weight: 600; /* Makes label text bold */
    margin-bottom: 10px;
}

.slider input[type="range"], .material-selector select {
    width: 100%; /* Ensures full width on small screens */
}

.material-selector select {
    padding: 0.5rem 1rem; /* Comfortable padding for easy interaction */
    border-radius: 5px; /* Rounded corners for the select box */
    border: 1px solid #ced4da; /* Border color that matches with bootstrap's default form elements */
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .constructor-layout {
        flex-direction: row;
    }

    .product-image, .settings {
        flex: 1; /* Each section takes up an equal amount of space */
    }

    .settings {
        margin-top: 0; /* Reset top margin for non-mobile views */
        margin-left: 30px; /* Adds space between the image and the settings */
        padding: 30px; /* Increased padding for larger screens */
    }
}
/* Добавленные или обновленные стили */
.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-close:hover {
    color: #dc3545;
    transform: scale(1.1);
}

.btn-order {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.order-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    animation: slideIn 0.5s, fadeOut 2.5s 2.5s;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}


@media (min-width: 992px) {
    .dimension-sliders, .material-selector {
        margin-bottom: 30px;
    }

    .material-selector select {
        padding: 0.75rem 1.5rem; /* Larger padding for larger screens */
    }
}

/* Transition effects for interactive elements */
.slider input[type="range"], .material-selector select {
    transition: box-shadow 0.3s ease-in-out;
}

.slider input[type="range"]:hover, .material-selector select:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1); /* Subtle shadow effect on hover */
}
